body {
    background-color: #0d0d0d; /* deep dark */
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

input, button {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
}

input::placeholder {
    color: #aaa;
}

button:hover {
    background-color: #333;
}

.container {
    background-color: #141414;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}


h2 {
  margin-top: 15px;
  color: #ebe3e3;
}

.search-bar {
  margin-top: 10px;
}

.search-bar input {
  padding: 8px;
  width: 240px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

.search-bar button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background-color: #0078ff;
  color: white;
  cursor: pointer;
}

.quick-options {
  margin: 15px 0;
}

.quick-options button {
  margin: 6px;
  padding: 10px 14px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.quick-options button:hover {
  background: #0b5ed7;
}

footer {
  margin-top: 20px;
  background: #222;
  padding: 15px 0;
}

footer a.register-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  background: #000000;
  padding: 10px 16px;
  border-radius: 10px;
  transition: 0.3s;
}

footer a.register-link:hover {
  background: #ff4500;
}
